@font-face {
    font-family: "TTLakes";
    src: url(/TTLakes/TTLakes-Medium.ttf);
}
*, *::after, *::before{
    margin:0;
    box-sizing: inherit;
    outline: none;
    font-family: "TTLakes", sans-serif;
}
html{
    box-sizing: border-box;
}
.icon{
    width:40px;
    height: 40px;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}
.side-bar{
    width: 320px;
    background-color:rgb(192, 187, 187); 
    padding-bottom: 32px;
}
.side-bar__header{
    display: flex;
    justify-content: space-between;
}
.side-bar__logo{
    margin: 18.5px auto 0 16.5px
}
.side-bar__icon1{
    margin-top:23px;
    margin-left:24px;
    background-image:url(/img/burgerx.svg) ;
}
.side-bar__icon2{
    margin-top:23px;
    margin-right: 24px;
    background-image: url(/img/search.svg);
}
.side-bar__block{
    width:222px;
    height: 876px;
    background-color:#fff;
    margin-top:32px;
}
.side-bar__links{
    display: flex;
    flex-direction: column;
}
.side-bar__link{
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -.2px;
    color:#1B1C21;
    padding-left:24px;
    margin-bottom: 32px;
}
.side-bar__footer{
    padding-left:24px;
}
.side-bar__icons{
    display: flex;
}
.call-icon{
    background-image: url(/img/call.svg);
    margin-right: 16px;
}
.chat-icon{
    background-image: url(/img/chat.svg);
    margin-right: 16px;
}
.profile-icon{
    background-image: url(/img/profile.svg);
}
.side-bar__info{
    margin-top:16px;
    margin-bottom:12px;
}
.side-bar__phone{
    font-size: 24px;
    white-space: nowrap;
    letter-spacing: -.6px;
}
.side-bar__langs{
    display: flex;
    list-style-type: none;
    padding:0;
    margin-top:40px;

}
.side-bar__lang{
    padding-right: 7px;
    text-transform: uppercase;
}
.side-bar__lang:last-child{
    padding-right:0;
}
